<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>首页</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/userWeb/css/normalize.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/userWeb/css/control/cbase.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/userWeb/js/control/cbase.js">
</head>
<body "document">
    {% block content %}{% endblock %}
    <footer>
        <div class="container-fluid foot">
            <h5>Copyright 2016 &copy Logo LLC. All rights reserved.</h5>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/userWeb/js/control/news.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
