{% extends "userWeb/control/cbase.html" %}
{% block content %}
<link rel="stylesheet" href="/static/userWeb/css/control/lines.css">
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-logo"><img src="/media/icons/logo_white.png"></div>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/control/userctrl" class="">我的服务</a></li>
                            <li><a href="/control/price">购买服务</a></li>
                            <li class="active"><a href="/control/lines">线路列表</a></li>
                            <li><a href="/control/news">最新消息</a></li>
                            <li><a href="#">帮助</a></li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="#" >Welcome  {{ username }}</a></li>
                            <li class=""><a href="/logout">退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid mylines">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <div class="headbar">
            <h2>我的服务器</h2>
            <div class="hr"></div>
        </div>
        <div class="status">
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                          <thead>
                          <tr style="background: #09ba32;color:#fff;">
                              <th>服务器</th>
                              <th>线路</th>
                              <th>支持协议</th>
                              <th>路况</th>                                          
                          </tr>
                      </thead>   
                      <tbody>
                        <tr>
                            <td>www.xxx.com</td>
                            <td><img src="/media/icons/flag_hk.png">香港线路1，电信线路优化</td>
                            <td>pptpt,l2tp,openvpn</td>
                            <td><span class="label label-success">通畅</span>
                            </td>                                       
                        </tr>
                        <tr>
                            <td>www.xxx.com</td>
                            <td><img src="/media/icons/flag_hk.png">香港线路1，电信线路优化</td>
                            <td>pptpt,l2tp,openvpn</td>
                            <td><span class="label label-important">拥堵</span>
                            </td>                                       
                        </tr>
                        <tr>
                            <td>www.xxx.com</td>
                            <td><img src="/media/icons/flag_hk.png">香港线路1，电信线路优化</td>
                            <td>pptpt,l2tp,openvpn</td>
                            <td><span class="label label-warning">高负载</span>
                            </td>                                       
                        </tr>
                        <tr>
                            <td>www.xxx.com</td>
                            <td><img src="/media/icons/flag_hk.png">香港线路1，电信线路优化</td>
                            <td>pptpt,l2tp,openvpn</td>
                            <td><span class="label label-success">通畅</span>
                            </td>                                       
                        </tr>
                        <tr>
                            <td>www.xxx.com</td>
                            <td><img src="/media/icons/flag_hk.png">香港线路1，电信线路优化</td>
                            <td>pptpt,l2tp,openvpn</td>
                            <td><span class="label label-stop">停用</span>
                            </td>                                       
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}
