{% extends "userWeb/control/cbase.html" %}
{% block content %}
<link rel="stylesheet" href="/static/userWeb/css/control/news.css">
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Logo</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/control/userctrl" class="">我的服务</a></li>
                            <li><a href="/control/price">购买服务</a></li>
                            <li><a href="/control/lines">线路列表</a></li>
                            <li class="active"><a href="/control/news">最新消息</a></li>
                            <li><a href="#">帮助</a></li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="#" >Welcome  {{ username }}</a></li>
                            <li class=""><a href="/logout">退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid news">
        <div class="headbar">
            <h2>最新消息</h2>
            <div class="hr"></div>
        </div>
        <ul class="timeline">
            {% for news in newslist %}

            <li>
            <div class="timeline-badge {{news.category}}">
                {% if news.category == "info"%}
                    <i class="fa fa-info" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-exclamation" aria-hidden="true"></i>
                {% endif %}
            </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{ news.title}}</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{news.created_time|date:"n月j日，Y"}}</small></p>
                </div>
                <div class="timeline-body">
                    <p>{{news.body|safe}}</p>
                </div>
              </div>
            </li>
            <li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
