{% extends "userWeb/control/cbase.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/userWeb/css/control/price_table.css">
    <link href='http://fonts.useso.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <section id="pricePlans">
        <ul id="plans">
            <li class="plan">
                <ul class="planContainer">
                    <li class="title"><h2>Plan 1</h2></li>
                    <li class="price"><p>$10/<span>month</span></p></li>
                    <li>
                        <ul class="options">
                            <li>2x <span>option 1</span></li>
                            <li>Free <span>option 2</span></li>
                            <li>Unlimited <span>option 3</span></li>
                            <li>Unlimited <span>option 4</span></li>
                            <li>1x <span>option 5</span></li>
                        </ul>
                    </li>
                    <li class="button"><a href="#">Purchase</a></li>
                </ul>
            </li>

            <li class="plan">
                <ul class="planContainer">
                    <li class="title"><h2 class="bestPlanTitle">Plan 2</h2></li>
                    <li class="price"><p class="bestPlanPrice">$20/month</p></li>
                    <li>
                        <ul class="options">
                            <li>2x <span>option 1</span></li>
                            <li>Free <span>option 2</span></li>
                            <li>Unlimited <span>option 3</span></li>
                            <li>Unlimited <span>option 4</span></li>
                            <li>1x <span>option 5</span></li>
                        </ul>
                    </li>
                    <li class="button"><a class="bestPlanButton" href="#">Purchase</a></li>
                </ul>
            </li>

            <li class="plan">
                <ul class="planContainer">
                    <li class="title"><h2>Plan 3</h2></li>
                    <li class="price"><p>$30/<span>month</span></p></li>
                    <li>
                        <ul class="options">
                            <li>2x <span>option 1</span></li>
                            <li>Free <span>option 2</span></li>
                            <li>Unlimited <span>option 3</span></li>
                            <li>Unlimited <span>option 4</span></li>
                            <li>1x <span>option 5</span></li>
                        </ul>
                    </li>
                    <li class="button"><a href="#">Purchase</a></li>
                </ul>
            </li>

            <li class="plan">
                <ul class="planContainer">
                    <li class="title"><h2>Plan 4</h2></li>
                    <li class="price"><p>$40/<span>month</span></p></li>
                    <li>
                        <ul class="options">
                            <li>2x <span>option 1</span></li>
                            <li>Free <span>option 2</span></li>
                            <li>Unlimited <span>option 3</span></li>
                            <li>Unlimited <span>option 4</span></li>
                            <li>1x <span>option 5</span></li>
                        </ul>
                    </li>
                    <li class="button"><a href="#">Purchase</a></li>
                </ul>
            </li>
        </ul> <!-- End ul#plans -->
    </section>
{% endblock %}
