<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>首页</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/userWeb/css/normalize.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/userWeb/css/base.css">
</head>
<body "document">
      <!-- Main jumbotron for a primary marketing message or call to action -->
        {% block content %}{% endblock %}
        <div class="fourth-page">
            <div class="forth-cont">
                <ul class="list-inline">
                    <li>
                        <h3>欢迎您的关注</h3>
                    </li>
                    <li>
                        <button type="button" class="forth-login btn btn-info btn-lg">注册</button>
                    </li>
                </ul>
            </div>
        </div>

        <footer class="footer-nav hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <h5>云雀加速器</h5>
                        <ul>
                            <li><a href="/pricing/">购买服务</a></li>
                            <li><a href="/pricing/">支付方式</a></li>
                            <li><a href="/pricing/blockstorage/">关于我们</a></li>
                            <li><a href="/pricing/dedicatedcloud/">服务条款</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h5>资源</h5>
                        <ul>
                            <li><a href="/features/">服务器线路</a></li>
                            <li><a href="/features/blockstorage/">最新消息</a></li>
                            <li><a href="/features/dedicatedcloud/">速度&路由追踪</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h5>支持</h5>
                        <ul>
                            <li><a href="/faq/">帮助</a></li>
                            <li><a href="/api/">联系客服</a></li>
                            <li><a href="/docs/">QQ</a></li>
                            <li><a href="/benchmarks/">Email</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h5>合作</h5>
                        <ul>
                            <li><a href="/about/">推广计划</a></li>
                            <li><a href="/news/">合作方式</a></li>
                            <li><a href="/affiliate/">友商列表</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <footer class="footer-bottom">
                <h5>Copyright 2016 &copy 云雀加速器 LLC. All rights reserved.</h5>
        </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="/static/userWeb/js/carousel.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/userWeb/js/control/news.js"></script>
    <script src="/static/userWeb/js/control/cbase.js"></script>
</body>
</html>
