{% extends "userWeb/base.html" %}
{% block content %}
      <link rel="stylesheet" href="/static/userWeb/css/custom_index.css">
      <link rel="stylesheet" href="/static/userWeb/css/custom_price.css">
      <div class="navbar-wrapper">
          <div class="container-fluid">
              <nav class="navbar navbar-fixed-top">
                  <div class="container">
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          </button>
                          <div class="navbar-logo"><img src="/media/icons/logo_white.png"></div>
                      </div>
                      <div id="navbar" class="navbar-collapse collapse">
                          <ul class="nav navbar-nav">
                              <li class="active"><a href="/index" class="">主页</a></li>
                              <li><a href="/pricing">购买套餐</a></li>
                              <li><a href="/news">最新消息</a></li>
                              <li><a href="/help">帮助</a></li>
                          </ul>
                          <ul class="nav navbar-nav pull-right">
                            <li><a href="login">登录</a></li> 
                            <li><a href="regist">注册</a></li>

                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
      </div>

      <div class="first-page">

        <div id="carousel-show" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-show" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-show" data-slide-to="1"></li>
            <li data-target="#carousel-show" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <a href="#"><img src="/media/images/slide2.jpg" /></a>
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <a href="#"><img src="/media/images/slide3.jpg" /></a>
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <a href="#"><img src="/media/images/slide4.jpg" /></a>
              <div class="carousel-caption">
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#carousel-show" data-slide="prev">
          </a>
          <a class="right carousel-control" href="#carousel-show" data-slide="next">
          </a>
        </div>
        
        <div class="fast-login">
          <div class="row">
              <div class="formword col-xs-12 col-md-4  col-lg-4 ">
                  <h3>立即注册，体验墙外阳光</h3>
              </div>
              <div class="col-xs-12 col-md-8 col-lg-8 col-center-block">
                <form class="form-inline" role="form" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                      <input class="form-control" name="fast-username" type="email" placeholder="Choose an email">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                        <input type="password" class="form-control" name="fast-password" id="exampleInputPassword2" placeholder="Choose a Password">
                  </div>
                  <button type="submit" class="btn btn-default btn-lg">点我注册</button>
                </form> 
              </div>
          </div>
          </div>  
        </div>
        <div class="second-page">
            <div class="shead"><h2>选择适合您的计划</h2></div>
            <div class="container-fluid">
                    <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="panel panel-success">
                                            <div class="panel-heading">
                                                    <h3 class="text-center">入门计划</h3>
                                                    <p class="text-center">流量限制计划</p>
                                            </div>
                                            <div class="panel-body text-center">
                                                    <p class="lead" style="font-size:30px"><strong>15元/月 起</strong></p>
                                            </div>
                                            <ul class="list-group list-group-flush text-center">
                                                    <li class="list-group-item">
                                                            <span class="glyphicon glyphicon-calendar"></span> 5G 流量每月
                                                    </li>
                                                    <li class="list-group-item">
                                                            <span class="glyphicon glyphicon-envelope"></span> 适合浏览国外网站，普清视频
                                                    </li>
                                                    <li class="list-group-item">
                                                            <span class="glyphicon glyphicon-heart"></span>套餐流量可升级
                                                    </li>
                                            </ul>
                                            <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">注册</a> </div>
                                    </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="panel panel-success">
                                            <div class="panel-heading">
                                                    <h3 class="text-center">高级计划</h3>
                                                    <p class="text-center">流量无限套餐</p>
                                            </div>
                                            <div class="panel-body text-center">
                                                    <p class="lead" style="font-size:30px"><strong>30元/月 起</strong></p>
                                            </div>
                                            <ul class="list-group list-group-flush text-center">
                                                    <li class="list-group-item">
                                                            <span class="glyphicon glyphicon-calendar"></span>流量无限制
                                                    </li>
                                                    <li class="list-group-item">
                                                            <span class="glyphicon glyphicon-envelope"></span>可看720p高清视频
                                                    </li>
                                                    <li class="list-group-item">
                                                            <span class="glyphicon glyphicon-heart"></span>可升级计划
                                                    </li>
                                            </ul>
                                            <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">注册</a> </div>
                                    </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="panel panel-success">
                                            <div class="panel-heading">
                                                    <h3 class="text-center">至尊计划</h3>
                                                    <p class="text-center">适合多人抱团使用</p>
                                            </div>
                                            <div class="panel-body text-center">
                                                    <p class="lead" style="font-size:30px"><strong>80元/月</strong></p>
                                            </div>
                                            <ul class="list-group list-group-flush text-center">
                                                    <li class="list-group-item">
                                                            <span class="glyphicon glyphicon-calendar"></span>流量无限制
                                                    </li>
                                                    <li class="list-group-item">
                                                            <span class="glyphicon glyphicon-envelope"></span>高清视频支持
                                                    </li>
                                                    <li class="list-group-item">
                                                            <span class="glyphicon glyphicon-heart"></span>可供10个设备连接
                                                    </li>
                                            </ul>
                                            <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">注册</a> </div>
                                    </div>
                            </div>
                    </div>
            </div>


        </div>
        <div class="third-page">
                <div class="thead">
                    <h2 class="section-title">简单 强大 可靠</h2>
                    <h4 class="section-desc">我们选用最优质的服务器和最优化的线路为您的冲浪保驾护航</h4>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="feature"><i class="fa fa-clock-o fa-4x" aria-hidden="true"></i>
                                <h5>7x24小时不间断服务</h5>
                            </div>
                        </div>
                        <!-- /.feature -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="feature"><i class="fa fa-globe fa-4x" aria-hidden="true"></i>
                                <h5>世界范围内服务器随您挑选</h5>
                            </div>
                        </div>
                        <!-- /.feature -->
                        <div class="clear-xs"></div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="feature"><i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
                                <h5>多种协议支持适应不同环境</h5>
                            </div>
                        </div>
                        <!-- /.feature -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="feature"><i class="fa fa-signal fa-4x" aria-hidden="true"></i>
                                <h5>优化的线路降低您的延迟</h5>
                            </div>
                        </div>
                        <!-- /.feature -->
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="feature"><i class="fa fa-tablet fa-4x" aria-hidden="true"></i>
                                <h5>界面移动设备优化</h5>
                            </div>
                        </div>
                        <!-- /.feature -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="feature"><i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                                <h5>支付完毕立即开通</h5>
                            </div>
                        </div>
                        <!-- /.feature -->
                        <div class="clear-xs"></div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="feature"><i class="fa fa-desktop fa-4x" aria-hidden="true"></i> 
                                <h5>简单易用的控制台</h5>
                            </div>
                        </div>
                        <!-- /.feature -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="feature"><i class="fa fa-cart-arrow-down fa-4x" aria-hidden="true"></i>
                                <h5>为您精心定制的套餐选项</h5>
                            </div>
                        </div>
                        <!-- /.feature -->
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
