{% extends "userWeb/base.html"  %}
{% block content %}
        <link rel="stylesheet" href="/static/userWeb/css/custom_news.css">
        <div class="news-page">
            <ul>
                {% for news in news_list %}
                <li>
                    <h2 class="title">
                        {{ news.title }}
                    </h2>
                    <div class="publish-time">{{news.created_time|date:"n月j日，Y"}}</div>
                    <p>{{news.body|safe}}</p>
                    <div class="hr"></div>
                </li>
           {% endfor%}

            </ul>
        </div>
{% endblock %}
