{% extends "userWeb/base.html"  %}
{% block content %}
        <link rel="stylesheet" href="/static/userWeb/css/custom_pricing.css">
        <div class="pricing-first">
            <div class="pd"><h1>世界的颜色</h1></div>
            <div class="container-fluid buypage">
              <div class="row">
                <div class="product col-xs-4 col-md-4 cols-lg-4">
                    <div class="buy-box">
                        <div class="buy-img">
                            <img src="/media/images/wood.png" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="buy-words">
                            <h3>第一章</h3>
                            <h4>踏破马蹄无处寻</h4>
                        </div>
                    </div>
                </div>
                <div class="product col-xs-4 col-md-4 cols-lg-4">
                    <div class="buy-box">
                        <div class="buy-img">
                            <img src="/media/images/wood.png" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="buy-words">
                            <h3>第一章</h3>
                            <h4>踏破马蹄无处寻</h4>
                        </div>
                    </div>
                </div>
                <div class="product col-xs-4 col-md-4 cols-lg-4">
                    <div class="buy-box">
                        <div class="buy-img">
                            <img src="/media/images/wood.png" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="buy-words">
                            <h3>第一章</h3>
                            <h4>踏破马蹄无处寻</h4>
                        </div>
                    </div>
                </div>
              </div>  
            </div>
        </div>
        <div class='hr'></div>
        <div class="pricing_notice">
            <h1>购买须知</h1>
            <h2>1.怎样支付</h1>
                <p>支付宝，微信都可以</p>
            <h2>2.是否可以使用信用卡付款</h2>
                <p>可以</p>
        </div>
{% endblock %}
