
.navbar-default 
{
  background: rgba(26,166,0,1);
  padding: 20px;
  margin:0;
  font-family: "Microsoft YaHei",微软雅黑;
  border-color:rgba(26,166,0,1);
}



.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus
{
  color: #fff;
}

.navbar-default .navbar-nav li a
{
  color: rgba(196, 227, 255, 0.8);
  font-size: 16px;
}

.nav li
{
  padding-left: 20px;
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
{
  color: #fff;
}

.navbar-default .navbar-nav>li.login>a:focus, .navbar-default .navbar-nav>li.login>a:hover
{
  background-color: #59c323;
  border-color: #59c323;
  color: #fff;
}


footer .foot
{
  background: #000;
  color: #fff;
  text-align: center;
  height: 80px;
  padding-top: 20px;
}
