.myaccount
{
  min-height: 92%;
  margin-top: 80px;
  margin-bottom: -80px;
  padding-top: 30px;
  padding-bottom: 100px;
  padding-left: 10%;
  padding-right: 10%;
  background: rgba(226, 226, 226, 0.4); 
}


.myaccount .status
{
/*  text-align: center; */
}

.table tr
{
  background-color: #fff;
}

.table
{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.header 
{
  padding: 10px 0;
}

.header h2
{
  padding-left: 10px;
}

.hr
{
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    margin-top:10px;
    margin-bottom:50px;
}

.man 
{
  background: rgba(26, 166, 0, 0.7);
  color: #fff;
}

.control
{
  font-size: 16px
}
