.first-page
{
  min-height: 400px;
  margin-top:80;
  padding-bottom: 30px;
  background: #4dc137;
}


.first-view
{
  text-align:center;
  padding-top: 150px;
  padding-bottom: 50px;
  color: #fff;
  font-family:"幼圆";
  font-weight: bold;
}




.first-page .fast-login
{
  margin-left:0;
  margin-right:0;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.formword
{
  color: #fff;
  margin-top: -10px;
}

.form-control
{
  background: rgb(26, 166, 0);
  color: #fff;
  height: 45px;
  border-color: #09ba32;
}

.form-control:focus
{
  border-color: rgb(40, 234, 85);
}

.form-control::-webkit-input-placeholder { color: rgba(196, 227, 255, 0.8); }
.form-control:-moz-placeholder { color: rgba(196, 227, 255, 0.8); }
.form-control::-moz-placeholder { color: rgba(196, 227, 255, 0.8); }
.form-control:-ms-input-placeholder { color: rgba(196, 227, 255, 0.8); }

.fast-login .btn-default
{
  height: 45px;
  background: #45b530;
  border-color: rgba(124, 255, 57, 0.49);
  color: rgba(196, 227, 255, 0.8);
  transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s; /* Firefox 4 */
  -webkit-transition: background-color 0.5s, color 0.5s; /* Safari and Chrome */
  -o-transition: background-color 0.5s, color 0.5s; /* Opera */
}

.fast-login .btn-default:hover
{
  background: rgba(124, 255, 57, 0.49);
  border-color: rgba(124, 255, 57, 0.49);
  color: #fff;
}



.second-page
{
  min-height: 400px;
  padding-bottom: 100px;
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background: #25dbe4;
}


.shead
{
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

.third-page
{
  min-height: 500px;
  padding-bottom: 30px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.thead
{
  padding: 50px 0;
}

.third-page .row
{
  padding: 20px 0;
}
